body {
    font-family: Arial;
    background: linear-gradient(120deg,#4e73df,#1cc88a);
    color:white;
}

div {
    background:white;
    color:black;
    padding:15px;
    margin:10px;
    border-radius:10px;
}
0

